*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDBDBE;
}

h1{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    user-select: none;
    display: inline-block;
}

h1::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: green;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    transform-origin: bottom right;
}

h1:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

