*{
	margin: 0;
	padding: 0;

}

body{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right,#73B9C8, #46767F);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	height: 350px;
	width: 500px;
	background-color: white;
	border-radius: 7px;
	border-right: 20px solid #0066FF;
	padding: 20px;
	
}

.card h3{
	margin: 25 0px;
	color: #0066FF;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.more{
	display: flex;
	justify-content: space-between;
}

.form-grp input, label{
	display: block;
}

button{
	width: 100%;
	background-color: #0066FF;
	color:white;
	height: 30;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

.form-grp input{
	background-color: grey;
	width: 100%;
	border: none;
	height: 30px;
	margin-bottom: 15;
	font-size: 20;
}

.form-grp label{
	color:grey;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	margin-bottom: 15;
}