@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 40px;
}
.clock{
    font-family: digital-7 !important;
    font-size: 100px;
}
.frame{
    /* background-color: red; */
    border: 30px solid black;
    border-radius: 10px;
    height: 200px;
    width: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
}

